In [56]:
txt = "Programando em Python em casa!!!"
maiuscula = 0
minuscula = 0
outros = 0
for item in txt:
    if item.lower() == item.upper():
        outros +=1
    elif item == item.lower():
        minuscula +=1
    elif item == item.upper():
        maiuscula +=1
        
print([maiuscula,minuscula,outros])

[2, 23, 7]

In [57]:
dic = {}
for item in txt:
    if item in dic.keys():
        dic[item] =dic[item] + 1
    else:
        dic[item] =1
print(dic)

{'P': 2, 'r': 2, 'o': 3, 'g': 1, 'a': 4, 'm': 3, 'n': 2, 'd': 1, ' ': 4, 'e': 2, 'y': 1, 't': 1, 'h': 1, 'c': 1, 's': 1, '!': 3}

In [58]:
txt1 = txt.lower()

In [59]:
for item in txt1:
    if item in 'aeiou':
        print(item)

o
a
a
o
e
o
e
a
a

In [60]:
lista3 = (6, 1.5, 2, -8, 20, 1.23)
lista3_1 = [6, 1.5, 2, -8, 20, 1.23]
lista4 = [6, 1.5, 2, "fia", -8, 20, 1.23, [1,2]]

In [61]:
def soma(lista):
    soma=0
    for item in lista:
        soma = soma + item
    return soma

In [62]:
print(soma(lista3))
print(soma(lista3_1))
print(soma(lista4))

22.73
22.73

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [63]:
def soma(lista):
    soma=0
    for item in lista:
        if not isinstance(item,(int,float)):
            return 'Só adimite valores numéricos'
        soma = soma + item
    return soma

In [64]:
print(soma(lista3))
print(soma(lista3_1))
print(soma(lista4))

22.73
22.73
Só adimite valores numéricos

In [65]:
lista = [1, 2, 3, 4, 5]
for i in range(0,len(lista)):
    lista[i] +=10
print(lista)

[11, 12, 13, 14, 15]

In [66]:
for i in range(0,len(lista)):
    print(i)

0
1
2
3
4

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [68]:
for i in range(1,5):
    print(i)

1
2
3
4

In [69]:
lista = [1, 2, 3, 4, 5]
lista = [x + 10 for x in lista]
print(lista)

[11, 12, 13, 14, 15]

In [70]:
lista = [1, 2, 3, 4, 5]
lista = [x + 10 for x in lista if x<4]
print(lista)

[11, 12, 13]

In [71]:
texto1 = 'abc'
texto2 = '12'
res =[]
res = [i+j for i in texto1 for j in texto2]
print(res)

['a1', 'a2', 'b1', 'b2', 'c1', 'c2']

In [72]:
nums = [2, 6, 8, 12]
res = filter(lambda x : x % 3 == 0, nums)
print(list(res))

[6, 12]

In [73]:
nums = [2, 6, 8, 12]
res = map(lambda x : x * 2, nums)
print(list(res))

[4, 12, 16, 24]

In [74]:
import functools
nums = [2, 6, 8, 12]
res = functools.reduce(lambda x,y : x + y, nums)
print(res)

28

In [75]:
import functools
nums = ['a', 'b', 'c', 'd','e']
res = functools.reduce(lambda x,y : x + y, nums)
print(res)

abcde

In [76]:
#!pip install pandas

--- 
# Pandas

In [77]:
import os.path
def path_base(base_name):
    current_dir = os.path.abspath(os.path.join(os.getcwd()))
    print(current_dir)
    data_dir = current_dir.replace('notebook','data')
    print(data_dir)
    data_base = data_dir + '\\' + base_name
    print(data_base)
    return data_base

In [78]:
import pandas as pd
df = pd.read_csv(path_base('db_dados.tsv'), sep='\t')

C:\MyGit\py_basico\notebook
C:\MyGit\py_basico\data
C:\MyGit\py_basico\data\db_dados.tsv

In [79]:
type(df)

pandas.core.frame.DataFrame

In [80]:
df.shape

(1704, 6)

In [81]:
print(df.columns)

Index(['pais', 'continente', 'ano', 'expectativa vida', 'populacao', 'pib'], dtype='object')

In [82]:
print(df.dtypes)

pais                 object
continente           object
ano                   int64
expectativa vida    float64
populacao             int64
pib                 float64
dtype: object

In [83]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
pais                1704 non-null object
continente          1704 non-null object
ano                 1704 non-null int64
expectativa vida    1704 non-null float64
populacao           1704 non-null int64
pib                 1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [84]:
df['continente'].head(3)

0    Asia
1    Asia
2    Asia
Name: continente, dtype: object

In [85]:
s1 = pd.Series(['a', 'b', 'c'], index=[1,3,5])

In [86]:
print(s1)

1    a
3    b
5    c
dtype: object

In [87]:
s1

1    a
3    b
5    c
dtype: object

In [88]:
s1.loc[3]

'b'

In [89]:
s1.loc[1:3]

1    a
3    b
dtype: object

In [90]:
s1.iloc[1]

'b'

In [91]:
s1.iloc[1:100]

3    b
5    c
dtype: object

In [92]:
capitais = pd.read_csv(path_base('db_capitais.csv'), sep=',')

C:\MyGit\py_basico\notebook
C:\MyGit\py_basico\data
C:\MyGit\py_basico\data\db_capitais.csv

In [93]:
capitais.shape

(27, 3)

In [94]:
capitais.head()

        municipio  populacao 2015  area_km2
0         Aracaju        632744.0    174.05
1  Belo Horizonte       2502557.0    313.55
2           Belém       1439561.0   1064.92
3       Boa Vista        320714.0   5687.06
4        Brasília       2914830.0   5801.94

In [95]:
capitais = pd.read_csv(path_base('db_capitais.csv'), sep=',', index_col='municipio')

C:\MyGit\py_basico\notebook
C:\MyGit\py_basico\data
C:\MyGit\py_basico\data\db_capitais.csv

In [96]:
capitais.head()

                populacao 2015  area_km2
municipio
Aracaju               632744.0    174.05
Belo Horizonte       2502557.0    313.55
Belém                1439561.0   1064.92
Boa Vista             320714.0   5687.06
Brasília             2914830.0   5801.94

In [97]:
capitais.shape

(27, 2)

In [98]:
capitais.columns

Index(['populacao 2015', 'area_km2'], dtype='object')

In [99]:
capitais["populacao 2015"].head()

municipio
Aracaju            632744.0
Belo Horizonte    2502557.0
Belém             1439561.0
Boa Vista          320714.0
Brasília          2914830.0
Name: populacao 2015, dtype: float64

In [100]:
capitais["populacao 2015"].get('sao Paulo', 'Não encontrou')

'Não encontrou'

In [101]:
capitais["populacao 2015"].get('Aracaju', 'Não encontrou')

632744.0

In [102]:
capitais = capitais.rename(columns={'populacao 2015' : 'populacao_2015'})

In [103]:
capitais[capitais.area_km2 > 400]

                populacao_2015  area_km2
municipio
Belém                1439561.0   1064.92
Boa Vista             320714.0   5687.06
Brasília             2914830.0   5801.94
Campo Grande          853622.0   8096.05
Cuiabá                580489.0   3538.17
Curitiba             1879355.0    434.97
Florianópolis         469690.0    433.32
Goiânia              1430697.0    739.49
Macapá                456171.0   6407.12
Maceió               1013773.0    510.66
Manaus               2057711.0  11401.06
Palmas                272726.0   2218.93
Porto Alegre         1476867.0    496.83
Porto Velho           502748.0  34082.37
Rio Branco            370550.0   9222.58
Rio de Janeiro       6476631.0   1182.30
Salvador             2921087.0    706.80
São Luís             1073893.0    827.14
São Paulo           11967825.0   1522.99
Teresina              844245.0   1755.70

In [104]:
capitais[(capitais.populacao_2015 > 1000000) & (capitais.area_km2 < 500)]

                populacao_2015  area_km2
municipio
Belo Horizonte       2502557.0    313.55
Curitiba             1879355.0    434.97
Fortaleza            2591188.0    313.14
Porto Alegre         1476867.0    496.83
Recife               1617183.0    217.49

# Lista de compressao e lambda

In [1]:
lista = [-5,3.8,-4,'alo',2,3,8,'a',(12,1),{'Victor':1}]

In [2]:
from functools import reduce
def somapares(lista):
    aux = [aux for aux in lista if isinstance(aux,int) if aux%2==0]
    print(aux)
    sum = reduce(lambda x,y: x+y,aux)
    return [aux,sum]

In [3]:
somapares(lista)

[-4, 2, 8]

[[-4, 2, 8], 6]

In [4]:
import functools
def somapares(lista):
    #Trata valores
    aux = [item if isinstance(item,(int,float)) 
           else print('Elemento {} não permitido'.format(item)) 
           for item in lista]
    aux = [item for item in aux if item]
    #Retira impares
    aux = [item for item in aux if item%2==0]
    sum = reduce(lambda x,y: x+y, aux)
    return aux,sum

result = somapares(lista) 
print(result)
print(lista)

Elemento alo não permitido
Elemento a não permitido
Elemento (12, 1) não permitido
Elemento {'Victor': 1} não permitido
([-4, 2, 8], 6)
[-5, 3.8, -4, 'alo', 2, 3, 8, 'a', (12, 1), {'Victor': 1}]

In [5]:
def pares(valor_max):
    aux = [item for item in range(0,valor_max+1) if item%2==0]
    print(aux)

In [6]:
pares(4)

[0, 2, 4]

In [7]:
aparelhos = ['iphone','pc','monitor','notebook']
for item in range(0,len(aparelhos)):
    print('{} {}'.format(item+1,aparelhos[item]))

1 iphone
2 pc
3 monitor
4 notebook

# Concatenar cada caracter de duas strings

In [8]:
str1,str2 = 'Victor','12'
nova_str = [letra1+letra2 for letra1 in str1 for letra2 in str2]
print(nova_str)

['V1', 'V2', 'i1', 'i2', 'c1', 'c2', 't1', 't2', 'o1', 'o2', 'r1', 'r2']

# Lambda

In [9]:
nums = range(0,12)

In [10]:
# filter: filtragem de elementos em não-escalares
res = filter(lambda x: x%3==0, nums)
print(list(res))

[0, 3, 6, 9]

In [11]:
# map : mapeamento em estrutura não escalar
res = map(lambda x: x*2, nums)
print(list(res))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22]

In [12]:
# Reduce: aplicar uma função emestrutura não-escalar 
# e retornar umunico valor final
import functools as ft
res = ft.reduce(lambda x,y: x+y,nums)
print(res)

66